.col{
    padding:0;
}
.poster{
    text-align:center;
}

.poster img {
    width:40%;
}

.media img{
    width:25%;
}

.connected-information {
    text-align: center;
    width: 100%;
}

.logged-icon{
    padding-left: 15px;
}

.previous-next{
    text-align:center;
}

.title{
    font-weight:bolder;
}

.custom-row{
    padding-bottom: 40px;
}