@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>
<h3>cousiyvan</h3>
<div>
    Long time developer trying to found the best tools/framework to provide the best experience to the users and take pleasure in it
</div>
</p>

<p>
    <h3>yzaleen</h3>
    <div>
        When you think design, arts and so ... you think Yzaleen! Whenever there is something to create, original and open stuff to do, the one to contact is this lovely, dreamy and skillful girl.
    </div>
</p>