@model CollectionManager.Models.Collection.Game
@{
    ViewData["Title"] = "Games";
}

<h2>Games</h2>

<div>
Whatever ...

    <div>
    @ViewBag.Information
    </div>
    <div>
        <img src="@Model.Pictures[0]" />
    </div>
</div>
